<div class="container">
  <div class="row">
    <div class="character col-md-3">
        <div class="player-icon">
            <i class="fa fa-bug" aria-hidden="true"></i>
        </div>
        <div class="stats-wrap">
          <p>
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:90%;"></div>
            </span>          
          </p>
          <p>
            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:70%;"></div>
            </span>
          </p>
          <p>
            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:90%;"></div>
            </span>          
          </p>          
          <p>
            <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:50%;"></div>
            </span>
          </p>
        </div>
    </div>

    <div class="character col-md-3">
        <div class="player-icon">
            <i class="fa fa-bomb" aria-hidden="true"></i>
        </div>
        <div class="stats-wrap">
          <p>
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:30%;"></div>
            </span>          
          </p>
          <p>
            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:90%;"></div>
            </span>
          </p>
          <p>
            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:90%;"></div>
            </span>          
          </p>          
          <p>
            <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:90%;"></div>
            </span>
          </p>
        </div>
    </div>


    <div class="character col-md-3">
        <div class="player-icon">
            <i class="fa fa-taxi" aria-hidden="true"></i>
        </div>
        <div class="stats-wrap">
          <p>
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:100%;"></div>
            </span>          
          </p>
          <p>
            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:30%;"></div>
            </span>
          </p>
          <p>
            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:30%;"></div>
            </span>          
          </p>          
          <p>
            <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
            <span class="bar">
                <div class="bar-content" style="width:30%;"></div>
            </span>
          </p>
        </div>
    </div>

  </div>
</div>