<div id="outwap-header">
	<div id="header" class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				  <a class="navbar-brand" href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i><span>ICONS BATTLE</span></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">Home</a>
				      </li>
				      <li class="nav-item">
							<a class="nav-link" href="#">Icon List</a>
						</li>
				    </ul>
				  </div>
				</nav>			
			</div>
		</div>
	</div>	
</div>

<div id="btn-controller" class="container">
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">CREATE NEW</button>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">CREATE NEW ICON</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="disabledTextInput">Font awsome icon code</label>
				<input type="text" class="form-control" placeholder="fa-code" #iconName>
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-success" (click)="add(iconName.value)">Save changes</button>
		</div>
	  </div>
	</div>
  </div>